
@media screen and (max-width: 480.98px) {
   
}

@media screen and (max-width: 768.98px){
 
}

.table-out{
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1.5rem;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}
